In [1]:
import pandas as pd
import numpy as np
import pycountry

## Global synthetic data 2002-2023

In [2]:
df_global = pd.read_csv("CTDC_global_synthetic_data_v2025_v2.csv")

In [3]:
df_global.columns

Index(['Victim_ID', 'yearOfRegistration', 'gender', 'ageBroad', 'citizenship',
       'CountryOfExploitation', 'traffickMonths', 'meansDebtBondageEarnings',
       'meansThreats', 'meansAbusePsyPhySex', 'meansFalsePromises',
       'meansDrugsAlcohol', 'meansDenyBasicNeeds', 'meansExcessiveWorkHours',
       'meansWithholdDocs', 'isForcedLabor', 'typeOfExploitationOrganRemoval',
       'isSexualExploit', 'isOtherExploit', 'typeOfLabourAgriculture',
       'typeOfLabourConstruction', 'typeOfLabourDomesticWork',
       'typeOfLabourHospitality', 'typeOfSexProstitution',
       'typeOfSexPornography', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther'],
      dtype='object')

In [57]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Define the columns to check
columns_to_check = ['citizenship', 'CountryOfExploitation', 'yearOfRegistration']

# 1. Select only the specified columns.
# 2. Use .isnull() to create a Boolean DataFrame (True for null values).
# 3. Use .any(axis=1) to check if ANY value across the specified columns is True (i.e., null) for each row.
# 4. Use .sum() on the resulting Boolean Series (True=1, False=0) to count the number of rows.
number_of_rows_with_nulls = df_global.isnull().sum()

# Print the result
print(f"The number of rows with at least one null value in the specified columns is: {number_of_rows_with_nulls}")

The number of rows with at least one null value in the specified columns is: citizenship              131326
CountryOfExploitation     55963
yearOfRegistration        35218
isOrganRemoval                0
dtype: int64

In [4]:
current_entities = df_global['yearOfRegistration'].unique()
print(current_entities)

[2002. 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013.
 2014. 2015. 2016. 2017. 2018. 2019. 2020. 2021. 2022. 2023.   nan]

In [59]:
df_global.dtypes

citizenship               object
CountryOfExploitation     object
yearOfRegistration       float64
isOrganRemoval            object
dtype: object

In [5]:
df_global['yearOfRegistration'] = df_global['yearOfRegistration'].astype('Int64')

In [6]:
country_code_map = {
    'AFG': 'Afghanistan', 'ALB': 'Albania', 'DZA': 'Algeria', 'AND': 'Andorra',
    'AGO': 'Angola', 'ARG': 'Argentina', 'ARM': 'Armenia', 'AUS': 'Australia',
    'AUT': 'Austria', 'AZE': 'Azerbaijan', 'BHS': 'Bahamas', 'BGD': 'Bangladesh',
    'BLR': 'Belarus', 'BEL': 'Belgium', 'BLZ': 'Belize', 'BEN': 'Benin',
    'BOL': 'Bolivia', 'BIH': 'Bosnia and Herzegovina', 'BRA': 'Brazil',
    'BGR': 'Bulgaria', 'BDI': 'Burundi', 'KHM': 'Cambodia', 'CMR': 'Cameroon',
    'CAN': 'Canada', 'CHL': 'Chile', 'CHN': 'China', 'COL': 'Colombia',
    'CRI': 'Costa Rica', 'HRV': 'Croatia', 'CUB': 'Cuba', 'CYP': 'Cyprus',
    'CZE': 'Czechia', 'COD': 'DR Congo', 'DNK': 'Denmark', 'DOM': 'Dominican Republic',
    'ECU': 'Ecuador', 'EGY': 'Egypt', 'SLV': 'El Salvador', 'ERI': 'Eritrea',
    'EST': 'Estonia', 'ETH': 'Ethiopia', 'FJI': 'Fiji', 'FIN': 'Finland',
    'FRA': 'France', 'GAB': 'Gabon', 'GEO': 'Georgia', 'DEU': 'Germany',
    'GHA': 'Ghana', 'GRC': 'Greece', 'GTM': 'Guatemala', 'HTI': 'Haiti',
    'HND': 'Honduras', 'HKG': 'Hong Kong', 'HUN': 'Hungary', 'IND': 'India',
    'IDN': 'Indonesia', 'IRN': 'Iran', 'IRQ': 'Iraq', 'IRL': 'Ireland',
    'ISR': 'Israel', 'ITA': 'Italy', 'JAM': 'Jamaica', 'JPN': 'Japan',
    'JOR': 'Jordan', 'KAZ': 'Kazakhstan', 'KEN': 'Kenya', 'KOR': 'South Korea',
    'KWT': 'Kuwait', 'KGZ': 'Kyrgyzstan', 'LVA': 'Latvia', 'LBN': 'Lebanon',
    'LBR': 'Liberia', 'LBY': 'Libya', 'LTU': 'Lithuania', 'LUX': 'Luxembourg',
    'MKD': 'North Macedonia', 'MYS': 'Malaysia', 'MLI': 'Mali', 'MLT': 'Malta',
    'MEX': 'Mexico', 'MDA': 'Moldova', 'MNG': 'Mongolia', 'MAR': 'Morocco',
    'MOZ': 'Mozambique', 'MMR': 'Myanmar', 'NAM': 'Namibia', 'NPL': 'Nepal',
    'NLD': 'Netherlands', 'NZL': 'New Zealand', 'NIC': 'Nicaragua', 'NGA': 'Nigeria',
    'NOR': 'Norway', 'OMN': 'Oman', 'PAK': 'Pakistan', 'PAN': 'Panama',
    'PRY': 'Paraguay', 'PER': 'Peru', 'PHL': 'Philippines', 'POL': 'Poland',
    'PRT': 'Portugal', 'QAT': 'Qatar', 'ROU': 'Romania', 'RUS': 'Russian Federation',
    'RWA': 'Rwanda', 'SAU': 'Saudi Arabia', 'SEN': 'Senegal', 'SRB': 'Serbia',
    'SGP': 'Singapore', 'SVK': 'Slovakia', 'SVN': 'Slovenia', 'SOM': 'Somalia',
    'ZAF': 'South Africa', 'ESP': 'Spain', 'LKA': 'Sri Lanka', 'SDN': 'Sudan',
    'SWE': 'Sweden', 'CHE': 'Switzerland', 'SYR': 'Syria', 'TWN': 'Taiwan',
    'TJK': 'Tajikistan', 'TZA': 'Tanzania', 'THA': 'Thailand', 'TUN': 'Tunisia',
    'TUR': 'Turkey', 'UGA': 'Uganda', 'UKR': 'Ukraine', 'ARE': 'UAE',
    'GBR': 'United Kingdom', 'USA': 'United States', 'URY': 'Uruguay', 'UZB': 'Uzbekistan',
    'VEN': 'Venezuela', 'VNM': 'Vietnam', 'YEM': 'Yemen', 'ZMB': 'Zambia',
    'ZWE': 'Zimbabwe', 'TGO': 'Togo', 'CIV': 'Côte d\'Ivoire', 'SSD': 'South Sudan',
    'PSE': 'Palestine', 'IRL': 'Ireland', 'ERI': 'Eritrea', 'SJM': 'Svalbard and Jan Mayen',
    'MNP': 'Northern Mariana Islands', 'LAO': 'Laos', 'ESH': 'Western Sahara',
    'FLK': 'Falkland Islands', 'ZAR': 'Zaire'
}

# --- 2. Apply the Mapping to the DataFrame ---

# Create a new column 'citizenship_full' by looking up the code in 'citizenship'.
# .get(x, x) ensures that if a code is not found in the map, it keeps the original code 'x'.
df_global['citizenship_full'] = df_global['citizenship'].apply(lambda x: country_code_map.get(x, x))

# Apply the same logic to the 'CountryOfExploitation' column.
df_global['CountryOfExploitation_full'] = df_global['CountryOfExploitation'].apply(lambda x: country_code_map.get(x, x))

# Now 'df' has two new columns with the full country names:
# 'citizenship_full' and 'CountryOfExploitation_full'

In [7]:
number_of_rows_with_nulls = df_global.isnull().sum()

# Print the result
print(f"The number of rows with at least one null value in the specified columns is: {number_of_rows_with_nulls}")

The number of rows with at least one null value in the specified columns is: Victim_ID                                0
yearOfRegistration                   33782
gender                               52821
ageBroad                            120830
citizenship                         124596
CountryOfExploitation                55963
traffickMonths                      234457
meansDebtBondageEarnings            219197
meansThreats                        211314
meansAbusePsyPhySex                 200342
meansFalsePromises                  230594
meansDrugsAlcohol                   245079
meansDenyBasicNeeds                 209897
meansExcessiveWorkHours             232689
meansWithholdDocs                   238051
isForcedLabor                       211905
typeOfExploitationOrganRemoval      239383
isSexualExploit                     161149
isOtherExploit                      245174
typeOfLabourAgriculture             248618
typeOfLabourConstruction            252812
typeOfLabourDomesticWork            248052
typeOfLabourHospitality             254368
typeOfSexProstitution               219768
typeOfSexPornography                251286
recruiterRelationIntimatePartner    249138
recruiterRelationFriend             250568
recruiterRelationFamily             247269
recruiterRelationOther              217696
citizenship_full                    124596
CountryOfExploitation_full           55963
dtype: int64

In [7]:
df_global.head()

,Victim_ID,yearOfRegistration,gender,ageBroad,citizenship,CountryOfExploitation,traffickMonths,meansDebtBondageEarnings,meansThreats,meansAbusePsyPhySex,...,typeOfLabourDomesticWork,typeOfLabourHospitality,typeOfSexProstitution,typeOfSexPornography,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,citizenship_full,CountryOfExploitation_full
0,1,2002,Woman,NaN,BGR,ITA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Bulgaria,Italy
1,2,2002,NaN,NaN,BGR,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bulgaria,NaN
2,3,2002,NaN,NaN,BGR,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bulgaria,NaN
3,4,2002,NaN,27--29,BGR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Bulgaria,NaN
4,5,2002,Woman,NaN,BGR,SRB,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bulgaria,Serbia

In [9]:
df_global.to_csv("trafficking_v6.csv")

In [8]:
df = pd.read_csv("trafficking_v6.csv")
print(df.head())

   Unnamed: 0  Victim_ID  yearOfRegistration gender ageBroad citizenship  \
0           0          1              2002.0  Woman      NaN         BGR
1           1          2              2002.0    NaN      NaN         BGR
2           2          3              2002.0    NaN      NaN         BGR
3           3          4              2002.0    NaN   27--29         BGR
4           4          5              2002.0  Woman      NaN         BGR

  CountryOfExploitation traffickMonths  meansDebtBondageEarnings  \
0                   ITA            NaN                       NaN
1                   NaN            NaN                       NaN
2                   NaN            NaN                       NaN
3                   NaN            NaN                       NaN
4                   SRB            NaN                       NaN

   meansThreats  ...  typeOfLabourDomesticWork  typeOfLabourHospitality  \
0           NaN  ...                       NaN                      NaN
1           NaN  ...                       1.0                      NaN
2           NaN  ...                       1.0                      NaN
3           NaN  ...                       NaN                      NaN
4           NaN  ...                       NaN                      NaN

   typeOfSexProstitution  typeOfSexPornography  \
0                    NaN                   NaN
1                    NaN                   NaN
2                    NaN                   NaN
3                    NaN                   NaN
4                    NaN                   NaN

   recruiterRelationIntimatePartner  recruiterRelationFriend  \
0                               NaN                      1.0
1                               NaN                      NaN
2                               NaN                      NaN
3                               NaN                      1.0
4                               NaN                      NaN

   recruiterRelationFamily  recruiterRelationOther  citizenship_full  \
0                      NaN                     NaN          Bulgaria
1                      NaN                     NaN          Bulgaria
2                      NaN                     NaN          Bulgaria
3                      NaN                     NaN          Bulgaria
4                      NaN                     NaN          Bulgaria

   CountryOfExploitation_full
0                       Italy
1                         NaN
2                         NaN
3                         NaN
4                      Serbia

[5 rows x 32 columns]

In [9]:
df_countries_latlong = pd.read_csv("country_lat_long.csv")
print(df_countries_latlong)

    country_code   latitude   longitude            country
0             AF  33.939110   67.709953        Afghanistan
1             AL  41.153332   20.168331            Albania
2             DZ  28.033886    1.659626            Algeria
3             AS -14.270972 -170.132217     American Samoa
4             AD  42.546245    1.601554            Andorra
..           ...        ...         ...                ...
240           WF -13.768752 -177.156097  Wallis and Futuna
241           EH  24.215527  -12.885834     Western Sahara
242           YE  15.552727   48.516388              Yemen
243           ZM -13.133897   27.849332             Zambia
244           ZW -19.015438   29.154857           Zimbabwe

[245 rows x 4 columns]

In [10]:
df.rename(columns={"citizenship_full": "Source_Country", "CountryOfExploitation_full": "Target_Country"}, inplace=True)
print(df)

        Unnamed: 0  Victim_ID  yearOfRegistration gender ageBroad citizenship  \
0                0          1              2002.0  Woman      NaN         BGR
1                1          2              2002.0    NaN      NaN         BGR
2                2          3              2002.0    NaN      NaN         BGR
3                3          4              2002.0    NaN   27--29         BGR
4                4          5              2002.0  Woman      NaN         BGR
...            ...        ...                 ...    ...      ...         ...
257964      257964     257965                 NaN  Woman       48         NaN
257965      257965     257966                 NaN  Woman       48         NaN
257966      257966     257967                 NaN  Woman       48         NaN
257967      257967     257968                 NaN  Woman       48         NaN
257968      257968     257969                 NaN  Woman       48         NaN

       CountryOfExploitation traffickMonths  meansDebtBondageEarnings  \
0                        ITA            NaN                       NaN
1                        NaN            NaN                       NaN
2                        NaN            NaN                       NaN
3                        NaN            NaN                       NaN
4                        SRB            NaN                       NaN
...                      ...            ...                       ...
257964                   UKR            NaN                       NaN
257965                   UKR            NaN                       NaN
257966                   UKR            NaN                       NaN
257967                   USA            NaN                       NaN
257968                   USA            NaN                       NaN

        meansThreats  ...  typeOfLabourDomesticWork  typeOfLabourHospitality  \
0                NaN  ...                       NaN                      NaN
1                NaN  ...                       1.0                      NaN
2                NaN  ...                       1.0                      NaN
3                NaN  ...                       NaN                      NaN
4                NaN  ...                       NaN                      NaN
...              ...  ...                       ...                      ...
257964           NaN  ...                       NaN                      NaN
257965           NaN  ...                       NaN                      NaN
257966           NaN  ...                       NaN                      NaN
257967           NaN  ...                       NaN                      NaN
257968           NaN  ...                       NaN                      NaN

        typeOfSexProstitution  typeOfSexPornography  \
0                         NaN                   NaN
1                         NaN                   NaN
2                         NaN                   NaN
3                         NaN                   NaN
4                         NaN                   NaN
...                       ...                   ...
257964                    NaN                   NaN
257965                    NaN                   NaN
257966                    NaN                   NaN
257967                    NaN                   1.0
257968                    1.0                   NaN

        recruiterRelationIntimatePartner  recruiterRelationFriend  \
0                                    NaN                      1.0
1                                    NaN                      NaN
2                                    NaN                      NaN
3                                    NaN                      1.0
4                                    NaN                      NaN
...                                  ...                      ...
257964                               NaN                      NaN
257965                               NaN                      NaN
257966                               NaN                      NaN
257967                               NaN                      NaN
257968                               NaN                      NaN

        recruiterRelationFamily  recruiterRelationOther  Source_Country  \
0                           NaN                     NaN        Bulgaria
1                           NaN                     NaN        Bulgaria
2                           NaN                     NaN        Bulgaria
3                           NaN                     NaN        Bulgaria
4                           NaN                     NaN        Bulgaria
...                         ...                     ...             ...
257964                      NaN                     NaN             NaN
257965                      NaN                     NaN             NaN
257966                      NaN                     NaN             NaN
257967                      NaN                     NaN             NaN
257968                      NaN                     NaN             NaN

        Target_Country
0                Italy
1                  NaN
2                  NaN
3                  NaN
4               Serbia
...                ...
257964         Ukraine
257965         Ukraine
257966         Ukraine
257967   United States
257968   United States

[257969 rows x 32 columns]

In [11]:
# Select and rename coordinate columns for easier merging
df_countries_latlong = df_countries_latlong[['country', 'latitude', 'longitude']].copy()
print(df_countries_latlong)

# country_mapping = {
#     'SLE': 'Sierra Leone',
#     'Turkmenistan': 'TKM',
#     'MDG': 'Madagascar',
#     'NER': 'Niger',
#     'GIN': 'Guinea',
#     'Czech Republic':'Czechia'
# }
# df['Source_Country'] = df['Source_Country'].replace(country_mapping)

# Optional: Verify the change

source_country = df["Source_Country"].unique().tolist()
print(source_country)
target_country = df["Target_Country"].unique().tolist()
print(target_country)
countries = df_countries_latlong['country'].unique().tolist()
missing_countries = [c for c in target_country if c not in countries]
print(missing_countries)

               country   latitude   longitude
0          Afghanistan  33.939110   67.709953
1              Albania  41.153332   20.168331
2              Algeria  28.033886    1.659626
3       American Samoa -14.270972 -170.132217
4              Andorra  42.546245    1.601554
..                 ...        ...         ...
240  Wallis and Futuna -13.768752 -177.156097
241     Western Sahara  24.215527  -12.885834
242              Yemen  15.552727   48.516388
243             Zambia -13.133897   27.849332
244           Zimbabwe -19.015438   29.154857

[245 rows x 3 columns]
['Bulgaria', 'China', "Côte d'Ivoire", 'Cameroon', 'DR Congo', 'Colombia', 'Dominican Republic', 'Ethiopia', 'Ghana', 'GIN', 'Honduras', 'Hungary', 'India', 'South Korea', 'Laos', 'Sri Lanka', 'Moldova', 'MDG', 'Myanmar', 'Nigeria', 'Nepal', 'Philippines', 'Romania', 'Russian Federation', 'Sudan', 'Somalia', 'Serbia', 'Ukraine', 'United States', 'Uzbekistan', 'Venezuela', nan, 'Afghanistan', 'Albania', 'Belarus', 'Bolivia', 'Guatemala', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Mexico', 'NER', 'El Salvador', 'Tajikistan', 'Uganda', 'Vietnam', 'Burundi', 'Brazil', 'Eritrea', 'Haiti', 'Indonesia', 'Jamaica', 'SLE', 'South Africa', 'Bangladesh', 'Thailand', 'TKM', 'Cambodia', 'Cuba']
['Italy', nan, 'Serbia', 'Colombia', 'Morocco', 'North Macedonia', 'Sweden', 'United States', 'Turkey', 'Tunisia', 'Denmark', 'Egypt', 'Albania', 'Hong Kong', 'NER', 'Poland', 'Vietnam', 'Nigeria', 'Germany', 'Jordan', 'Lebanon', 'Belarus', "Côte d'Ivoire", 'Haiti', 'Greece', 'Moldova', 'Iraq', 'Netherlands', 'Senegal', 'Bosnia and Herzegovina', 'Bulgaria', 'Afghanistan', 'Portugal', 'Kazakhstan', 'Canada', 'Sudan', 'Uzbekistan', 'Switzerland', 'Cambodia', 'Mali', 'Uganda', 'Libya', 'Oman', 'Thailand', 'South Africa', 'Qatar', 'Russian Federation', 'Spain', 'Myanmar', 'Tajikistan', 'Kyrgyzstan', 'Japan', 'SLE', 'Kuwait', 'Mexico', 'Indonesia', 'UAE', 'Ghana', 'Ukraine', 'Czechia', 'Romania', 'Burundi', 'Argentina', 'Saudi Arabia', 'India', 'Malaysia', 'China', 'Kenya', 'Philippines', 'Bangladesh', 'United Kingdom', 'Ethiopia']
[nan]

In [12]:
# ----------------------------------------------------------------------
# STEP 2: MERGE COORDINATES
# ----------------------------------------------------------------------

# Merge 1: Add Source (Origin) Coordinates
df_merged = df.merge(
    df_countries_latlong,
    left_on='Source_Country',
    right_on='country',
    how='left'
).rename(columns={
    'latitude': 'Source_Lat',
    'longitude': 'Source_Lon'
}).drop(columns=['country']) # Drop the redundant 'country' column from the merge

# Merge 2: Add Target (Destination) Coordinates
df_merged = df_merged.merge(
    df_countries_latlong,
    left_on='Target_Country',
    right_on='country',
    how='left'
).rename(columns={
    'latitude': 'Target_Lat',
    'longitude': 'Target_Lon'
}).drop(columns=['country']) # Drop the redundant 'country' column from the merge

# Filter out any flows where coordinates could not be found for either source or target
df_processed = df_merged.dropna(subset=['Source_Lat', 'Source_Lon', 'Target_Lat', 'Target_Lon']).copy()

In [49]:
df_processed.to_csv("route_latlong_v1.csv")

In [64]:
df = pd.read_csv("route_latlong_v1.csv")

In [13]:
df = df_processed

grouping_cols = [
    'Source_Country', 'Target_Country',
    'Source_Lat', 'Source_Lon',
    'Target_Lat', 'Target_Lon', 
    "yearOfRegistration"
]

# Aggregate the data to get the flow 'Count' per unique route AND per year
df_agg = df.groupby(grouping_cols).size().reset_index(name='Count')

# Use the aggregated data for the rest of the transformation
df_processed = df_agg.copy()

# Create Path ID
df_processed['Path_ID'] = (
    df_processed.index.astype(str) + '_' +
    df_processed['Source_Country'].astype(str).str.strip() + '_to_' +
    df_processed['Target_Country'].astype(str).str.strip()
)

# 2a. Create Origin rows (Point_Order = 1)
df_origin = df_processed[['Path_ID', 'Source_Country', 'Target_Country', 'Source_Lat', 'Source_Lon', 'Count', 'yearOfRegistration']].copy()
df_origin.rename(columns={
    'Source_Country': 'Country', 
    'Source_Lat': 'Latitude', 
    'Source_Lon': 'Longitude'
}, inplace=True)
df_origin['Point_Order'] = 1
df_origin['Point_Type'] = 'Origin'

# 2b. Create Destination rows (Point_Order = 2)
df_target = df_processed[['Path_ID', 'Source_Country', 'Target_Country', 'Target_Lat', 'Target_Lon', 'Count', 'yearOfRegistration']].copy()
df_target.rename(columns={
    'Target_Country': 'Country', 
    'Target_Lat': 'Latitude', 
    'Target_Lon': 'Longitude'
}, inplace=True)
df_target['Point_Order'] = 2
df_target['Point_Type'] = 'Destination'

# 2c. Combine the Origin and Destination rows
# All necessary columns now match for concatenation
df_final = pd.concat([df_origin, df_target], ignore_index=True)

df_final.rename(columns={
    "yearOfRegistration": "Year"
}, inplace=True)

# ----------------------------------------------------------------------
# STEP 3: SAVE THE FINAL DATASET
# ----------------------------------------------------------------------

transformed_file_name_agg = "route_flow_v5.csv"
df_final.to_csv(transformed_file_name_agg, index=False)

# Taking trafficking_v5 to get total organ removal, total trafficked to and from cases

In [2]:
df = pd.read_csv("trafficking_v5.csv")
print(df)

        Unnamed: 0 citizenship CountryOfExploitation  yearOfRegistration  \
0                0         UKR                   RUS              2015.0
1                1         UKR                   RUS              2015.0
2                2         UKR                   RUS              2015.0
3                3         UKR                   RUS              2015.0
4                4         UKR                   RUS              2015.0
...            ...         ...                   ...                 ...
257964      257964         NaN                   NaN              2016.0
257965      257965         NaN                   NaN              2016.0
257966      257966         NaN                   NaN              2016.0
257967      257967         NaN                   NaN              2016.0
257968      257968         NaN                   NaN              2016.0

       isOrganRemoval citizenship_full CountryOfExploitation_full
0                  No          Ukraine         Russian Federation
1                  No          Ukraine         Russian Federation
2                  No          Ukraine         Russian Federation
3                  No          Ukraine         Russian Federation
4                  No          Ukraine         Russian Federation
...               ...              ...                        ...
257964             No              NaN                        NaN
257965             No              NaN                        NaN
257966             No              NaN                        NaN
257967             No              NaN                        NaN
257968             No              NaN                        NaN

[257969 rows x 7 columns]

In [3]:
# Rename columns to the names used in the flow analysis
trafficked_df = df
trafficked_df.rename(columns={
    "citizenship_full": "Source_Country", 
    "CountryOfExploitation_full": "Target_Country"
}, inplace=True)

# ----------------------------------------------------------------------
# STEP 2: CALCULATE AGGREGATED COUNTS
# ----------------------------------------------------------------------

# 2a. Organ Removal Count (Source Country)
# Filter for organ removal cases and group by year and source country
df_organ_removal = trafficked_df[trafficked_df['isOrganRemoval'] == 'Yes'].groupby(['yearOfRegistration', 'Source_Country']).size().reset_index(name='OrganRemoval_Count')
df_organ_removal.rename(columns={'Source_Country': 'Country'}, inplace=True)

# 2b. Trafficked FROM Count (Source Country - all cases)
# Group all cases by year and source country
df_trafficked_from = trafficked_df.groupby(['yearOfRegistration', 'Source_Country']).size().reset_index(name='TraffickedFrom_Count')
df_trafficked_from.rename(columns={'Source_Country': 'Country'}, inplace=True)

# 2c. Trafficked TO Count (Target Country - all cases)
# Group all cases by year and target country
df_trafficked_to = trafficked_df.groupby(['yearOfRegistration', 'Target_Country']).size().reset_index(name='TraffickedTo_Count')
df_trafficked_to.rename(columns={'Target_Country': 'Country'}, inplace=True)

# ----------------------------------------------------------------------
# STEP 3: MERGE TABLES
# ----------------------------------------------------------------------

# Start with Trafficked From as the base
df_summary = df_trafficked_from

# Merge Organ Removal Count (Outer join to keep all countries/years)
df_summary = df_summary.merge(
    df_organ_removal, 
    on=['yearOfRegistration', 'Country'], 
    how='outer'
)

# Merge Trafficked To Count (Outer join to include countries only in Target list)
df_summary = df_summary.merge(
    df_trafficked_to, 
    on=['yearOfRegistration', 'Country'], 
    how='outer'
)

In [68]:
print(df_summary.head())

   yearOfRegistration                 Country  TraffickedFrom_Count  \
0              2002.0             Afghanistan                   NaN
1              2002.0                 Albania                   NaN
2              2002.0                 Belarus                   NaN
3              2002.0  Bosnia and Herzegovina                   NaN
4              2002.0                Bulgaria                  36.0

   OrganRemoval_Count  TraffickedTo_Count
0                 NaN                 2.0
1                 NaN                33.0
2                 NaN                 9.0
3                 NaN                50.0
4                 NaN                 4.0

In [7]:
# df_summary[['TraffickedFrom_Count', 'TraffickedTo_Count', 'OrganRemoval_Count']] = df_summary[['TraffickedFrom_Count', 'TraffickedTo_Count', 'OrganRemoval_Count']].fillna(0).astype(int)

# Rename the year column for cleaner output
df_summary.rename(columns={'yearOfRegistration': 'Year'}, inplace=True)

# Filter out the placeholder year 0 (for non-recorded years)
df_summary = df_summary[df_summary['Year'] > 0]

# Save the final summary table
output_file_name = "yearly_country_trafficking_summary_v1.csv"
# df_summary.to_csv(output_file_name, index=False)

In [8]:
df_summary['Year'] = df_summary['Year'].astype('Int64')

In [9]:
df_summary.dtypes

Year                      Int64
Country                  object
TraffickedFrom_Count    float64
OrganRemoval_Count      float64
TraffickedTo_Count      float64
dtype: object

In [10]:
df_summary['TraffickedFrom_Count'] = df_summary['TraffickedFrom_Count'].astype('Int64')
df_summary['TraffickedTo_Count'] = df_summary['TraffickedTo_Count'].astype('Int64')
df_summary['OrganRemoval_Count'] = df_summary['OrganRemoval_Count'].astype('Int64')

In [11]:
df_summary.to_csv(output_file_name, index=False)

# route_flow_v5.csv

In [ ]:
import pandas as pd

# Load the dataframe
df = pd.read_csv('route_flow_v5.csv')

# Convert Year to integer
df['Year'] = df['Year'].astype(int)

# Separate origins and destinations
origins = df[df['Point_Order'] == 1].copy()
dests = df[df['Point_Order'] == 2].copy()

# Rename columns for clarity before merging
origins_renamed = origins.rename(columns={
    'Country': 'Origin_Country',
    'Latitude': 'Origin_Lat',
    'Longitude': 'Origin_Lon'
})
# Keep only necessary columns
origins_renamed = origins_renamed[['Origin_Country', 'Target_Country', 'Year', 'Count', 'Origin_Lat', 'Origin_Lon']]

dests_renamed = dests.rename(columns={
    'Country': 'Dest_Country',
    'Latitude': 'Dest_Lat',
    'Longitude': 'Dest_Lon'
})
# Keep only necessary columns
dests_renamed = dests_renamed[['Source_Country', 'Dest_Country', 'Year', 'Count', 'Dest_Lat', 'Dest_Lon']]

# Merge origins and destinations to create flows
# The join key is (Origin_Country, Target_Country, Year, Count) from origins
# and (Source_Country, Dest_Country, Year, Count) from dests
processed_flows = pd.merge(
    origins_renamed,
    dests_renamed,
    left_on=['Origin_Country', 'Target_Country', 'Year', 'Count'],
    right_on=['Source_Country', 'Dest_Country', 'Year', 'Count']
)

# Select final columns
final_columns = [
    'Year',
    'Count',
    'Origin_Country',
    'Origin_Lat',
    'Origin_Lon',
    'Dest_Country',
    'Dest_Lat',
    'Dest_Lon'
]
processed_flows = processed_flows[final_columns]

# Save to CSV
processed_flows.to_csv('processed_flows.csv', index=False)

print("Processing complete. `processed_flows.csv` created.")
print(processed_flows.head())